td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 50px;
    border-radius: 5px;
    padding: 0px;
    background-color: white;
    font-family: sans-serif;
    color: black;
    user-select: none;
    transition: 0.2s;
}

body {
    background-color: #2C2F33;
    user-select: none;
}

.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 1;
}

.btn-check {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    width: 20%;
    height: 10%;    
    font-size: 20px;
}

.btn-reset {
    background-color: white;
    border-radius: 5px;
    width: 100px;
    height: 4%;
    font-size: 20px;
    visibility: hidden;
}

.cheating {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d14747;
    border-radius: 5px;
    width: 30%;
    height: 20%;    
    font-size: 20px;
    text-align: center;
    visibility: hidden;
}

.introduction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7289da;
    border-radius: 5px;
    width: 32%;
    height: auto;    
    padding: 30px;
    font-size: 20px;
    text-align: center;
    z-index: 2;
    font-family: sans-serif;
}

.btn-play {
    background-color: white;
    border-radius: 5px;
    width: 20%;
    height: auto;    
    font-size: 20px;
}
